.wrapper {
  border-radius: 0px 20px 0px 0px;
  padding: 28px;
  background-color: $white;
  height: calc(100vh - 20px);
  .row {
    padding: 28px 0;
    h4 {
      margin: 0 0 19px 0;
      @include defaultText;
    }
  }
  .row + .row {
    border-top: 1px solid $separator-color;
  }
  .dropdownList {
    display: flex;
    justify-content: space-between;

    & > div {
      flex: 0 0 118px;
    }
  }
}
.chips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px ,1fr));
  flex-wrap: wrap;
  gap: 10px;
}
