.input {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px $border-color;
  height: 40px;
  border-radius: 37px;
  padding: 0 3px 0 13px;
  height: 40px;

  &:hover {
    box-shadow: 0 0 0 1px $pink;
  }
  &:focus-within {
    box-shadow: 0 0 0 2px $pink;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 0 0 8px;
    &::placeholder {
      font-size: inherit;
      color: $gray;
    }
  }
  .iconClose {
    cursor: pointer;
  }
}

.icon {
  flex-shrink: 0;
}
