$pink: #ff93cd;
$inline: #222226;
$gray: #606074;
$color-background: #e5e5e5;
$white: #fefeff;
$white-default: #fefeff;
$border-color: rgba(196, 196, 205, 0.4);
$text-color: #606074;
$separator-color: #E6E6EA;
:root {
    --btn-height: 40px
    --width: 42px
}

@mixin defaultText {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}
