@import './_variables';
@import './transition.scss';
@import './_global.scss';

@import './_normalize.scss';
@import './_font.scss';
html {
  font-size: calc((10 / 1240) * 100vw);
}

body {
  font-family: MontserratRegular, sans-serif;
  background-color: $color-background;
  color: $text-color;
  @include defaultText;
}
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
